page-home {
  ion-slides {
    height: auto;
  }
}
.sliderText{
  margin-top:-20px;
  font-size:30px;
}

.feedback{
  font-size: 33px;

}
#mybutton {
  // position: fixed;
  float: right;
  margin-right: 25px;
}